{% extends 'flights/base.html' %}
{% load static%}
{% load flight_inputs %}

{% block content%}
	<div class="uk-container">
		<br>
    	<pre><code class="sql"> {{airlines.query | sql_format}} </code></pre>
		{% for airline in  airlines %}
			<article class="uk-article">
			    <h1 class="uk-article-title">{{airline.name}}</h1>
			    {% for flight in airline.flight_set.all %}
			    	{% flights_table flight.schedule_set.all %}
			    {% endfor %}
			</article>
		{% endfor %}
	</div>
{% endblock %}