{% extends 'flights/base.html' %}
{% load static%}
{% load flight_inputs %}
{% block header_css %}
	<link rel="stylesheet" type="text/css" href="{% static "css/marketing.css"%}">
{% endblock %}
{% block content%}
    <section class="uk-section uk-section-secondary uk-section-small">
      <div class="uk-container">
        <div class="uk-grid uk-child-width-1-2@l uk-flex-middle">
          <div>
            <h6>SEARCH FLIGHTS</h6>
            <h2 class="uk-margin-small-top uk-h1">Search for exactly what you need</h2>
            <form method="POST" action="/flights/search">
              {% csrf_token %}
              {% airport_dropdown 'Source Airport' 'src_air_id' '' %}
              {% airport_dropdown 'Destination Airport' 'dest_air_id' '' %}
              <div class="uk-child-width-1-3" uk-grid>
                <div>
                  <label class="uk-form-label"> Starts after</label>
                  <input class="uk-input uk-border-rounded" type="date" name="start_date">
                </div>
                <div>
                  <label class="uk-form-label">Ends before</label>
                  <input class="uk-input uk-border-rounded" type="date" name="end_date">
                </div>
                <div>
                  <label class="uk-form-label">Max Price</label>
                  <input class="uk-input uk-border-rounded" type="number" name="max_price" value="50000">
                </div>
              </div>
              <div class="uk-text-right uk-padding uk-padding-remove-horizontal">
                <button type="submit" class="uk-button uk-button-primary uk-border-rounded" data-uk-icon="arrow-right"> 
                  Search
                </button>
              </div>
            </form>
            
          </div>
          <div data-uk-scrollspy="cls: uk-animation-fade">
            <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{% static "img/marketing-2.svg" %}" data-uk-img alt="Image">
          </div>
        </div>
      </div>
    </section>

    <!-- LOGOS -->
    <div class="uk-section uk-section-small uk-section-muted">
      <div class="uk-container uk-container-xlarge">
        <div class="uk-grid uk-child-width-1-4 uk-child-width-expand@m logos-grid" data-uk-grid data-uk-scrollspy="cls: uk-animation-scale-down; target: > div > img; delay: 100">
          {% for airline in  airlines %}
            <div>
            <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/{{airline.upload}}" data-uk-img alt="Image">
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <!-- /LOGOS -->
   {% endblock %}